@import "toastify-js/src/toastify.css";

@import "./prism.css";

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("@fontsource/inter/files/inter-latin-400-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("@fontsource/inter/files/inter-latin-600-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("@fontsource/inter/files/inter-latin-700-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url("@fontsource/inter/files/inter-latin-800-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("@fontsource/fira-code/files/fira-code-latin-400-normal.woff2") format("woff2");
}

.milkdown {
  box-shadow: none !important;
}

.milkdown .editor {
  padding: 0 !important;
}

.milkdown .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.milkdown .icon svg {
  fill: currentColor;
}

.no-img-bg {
  background: repeating-linear-gradient(45deg,
      transparent,
      transparent 10px,
      #eef1f5 10px,
      #eef1f5 calc(2 * 10px));
}

body.dragging {
  user-select: none;
}

body.dragging iframe {
  pointer-events: none;
}

.md-image .action-bar {
  opacity: 0;
}

.md-image:hover .action-bar {
  opacity: 100;
}